.footer {
  display: flex;
  flex-direction: column;
  margin-top: map-get($spacing-unit, 'giant');

  &__main,
  &__info {
    margin-bottom: map-get($spacing-unit, 'small');
  }
}

.footer__main-name,
.footer__info-links,
.footer__info-news-title,
.footer-link {
  margin-bottom: map-get($spacing-unit, 'tiny');
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;

    &__info {
      display: flex;

      &-links {
        margin-right: map-get($spacing-unit, 'big');
      }
    }
  }
}
