.navbar-brand {
    font-size: map-get($font-sizes, 'default');
    color: map-get($colors, 'white');
    text-shadow: map-get($colors, 'black') 2px 2px;
}

.navbar-collapse {
    justify-content: flex-end;

    .nav-link {
        display: flex;
        justify-content: flex-end;
        color: map-get($colors, 'white');
    text-shadow: map-get($colors, 'black') 2px 2px;
    }
}

.header-brand {
    text-align: center;
    font-size: map-get($font-sizes, 'default');
    margin-top: map-get($spacing-unit, 'small');
    color: map-get($colors, 'white');
    text-shadow: map-get($colors, 'black') 2px 2px;
}

.navbar-toggler:focus {
    outline: none;
}

@media (min-width: 768px) {
    .navbar-brand {
        font-size: map-get($font-sizes, 'big');
    }

    .header-brand {
        font-size: map-get($font-sizes, 'medium');
        margin-bottom: map-get($spacing-unit, 'default');
    }

    .nav-link {
        font-size: map-get($font-sizes, 'default');
    }
}