.contact-form {
  display: flex;
  flex-direction: column;

  input,
  textarea {
    margin-top: map-get($spacing-unit, 'small');
    margin-bottom: map-get($spacing-unit, 'small');
    padding: map-get($spacing-unit, 'tiny');
  }

  input {
    width: 100%;
  }

  .field {
    span {
      margin-bottom: map-get($spacing-unit, 'small');
    }
  }
}

@media (min-width: 768px) {
  .contact-form {
    input,
    textarea {
      margin-top: 0;
    }

    .inputs {
      display: flex;
      justify-content: space-between;

      input {
        width: 100%;
      }
    }

    .field {
      display: flex;
      flex-direction: column;
      width: calc((50% - 0.5em));

      span {
        margin-bottom: map-get($spacing-unit, 'small');
      }
    }
  }
}
