body {
    background: linear-gradient(to bottom,  map-get($colors, 'background-blue') 0%, map-get($colors, 'white') 100%);
    background-attachment: fixed;
}

.page-title {
    text-align: center;
    font-size: map-get($font-sizes, 'default');
    margin-bottom: map-get($spacing-unit, 'default');
    color: map-get($colors, 'white');
    text-shadow: map-get($colors, 'black') 2px 2px;
}

input,
textarea {
    border-radius: 10px;
    border: solid 2px map-get($colors, 'black');
    transition: 0.3s;

    &:focus {
        outline: none;
    }
}

button {
    text-align: center;
    width: 100%;
    margin-bottom: map-get($spacing-unit, 'small');
    background: map-get($colors, 'yellow');
    text-transform: uppercase;
    text-shadow: map-get($colors, 'black') 2px 2px;
    color: map-get($colors, 'white');
    border-radius: 25px;
    padding-left: map-get($spacing-unit, 'default');
    padding-right: map-get($spacing-unit, 'default');
    padding-bottom: map-get($spacing-unit, 'tiny');
    padding-top: map-get($spacing-unit, 'tiny');
    box-shadow: 4px 6px 1px map-get($colors, 'box-shadow');
    transition: 0.3s;
    border: none;

    &.no {
        background: map-get($colors, 'red');
    }

    &:focus {
        outline: none;
    }
}

.box-container {
    background: map-get($colors, 'white');
    padding: map-get($spacing-unit, 'default');
    margin-bottom: map-get($spacing-unit, 'default');
    box-shadow: 10px 9px 1px map-get($colors, 'box-shadow');
    border-radius: 10px;
    text-align: center;
}

.page-content {
    text-align: center;
}

@media (min-width: 768px) {
    .page-content {
        text-align: left;
    }
      
}