body {
    background: linear-gradient(to bottom,  map-get($colors, 'background-blue') 0%, map-get($colors, 'white') 100%);
    background-attachment: fixed;
}

.page-title {
    text-align: center;
    font-size: map-get($font-sizes, 'default');
    margin-bottom: map-get($spacing-unit, 'default');;
}

.page-content {
    text-align: center;
}

@media (min-width: 768px) {
    .page-content {
        text-align: left;
    }
      
}