.loading {
    background: map-get($colors, 'black');
    height: 100vh;
    display: flex;
    justify-content: center;

    &__title {
        color: map-get($colors, 'white');
        display: flex;
        align-items: center;
        font-size: map-get($font-sizes, 'big');
    }
}