body {
  background: -webkit-gradient(linear, left top, left bottom, from(#049cd8), to(white));
  background: linear-gradient(to bottom, #049cd8 0%, white 100%);
  background-attachment: fixed;
}

.page-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 2em;
  color: white;
  text-shadow: black 2px 2px;
}

input,
textarea {
  border-radius: 10px;
  border: solid 2px black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
  background: #FACD00;
  text-transform: uppercase;
  text-shadow: black 2px 2px;
  color: white;
  border-radius: 25px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  -webkit-box-shadow: 4px 6px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 4px 6px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  position: relative;
  overflow: hidden;
}

button.no {
  background: #E52521;
}

button:focus {
  outline: none;
}

button:after {
  content: '';
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.13)), color-stop(77%, rgba(255, 255, 255, 0.13)), color-stop(92%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}

button:hover:after {
  -webkit-animation: shine 5s ease-in-out  infinite;
          animation: shine 5s ease-in-out  infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes shine {
  10% {
    opacity: 2.5;
    top: -30%;
    left: -30%;
    -webkit-transition-property: left, top, opacity;
    transition-property: left, top, opacity;
    -webkit-transition-duration: 0.7s, 0.7s, 0.15s;
            transition-duration: 0.7s, 0.7s, 0.15s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    -webkit-transition-property: left, top, opacity;
    transition-property: left, top, opacity;
  }
}

@keyframes shine {
  10% {
    opacity: 2.5;
    top: -30%;
    left: -30%;
    -webkit-transition-property: left, top, opacity;
    transition-property: left, top, opacity;
    -webkit-transition-duration: 0.7s, 0.7s, 0.15s;
            transition-duration: 0.7s, 0.7s, 0.15s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    -webkit-transition-property: left, top, opacity;
    transition-property: left, top, opacity;
  }
}

.box-container {
  background: white;
  padding: 2em;
  margin-bottom: 2em;
  -webkit-box-shadow: 10px 9px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 10px 9px 1px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  text-align: center;
}

.page-content {
  text-align: center;
}

@media (min-width: 768px) {
  .page-content {
    text-align: left;
  }
}

.loading {
  background: black;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading__title {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

.text-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3em;
}

.text-block {
  margin-bottom: 3em;
  padding: 2em;
  -webkit-box-shadow: 10px 9px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 10px 9px 1px rgba(0, 0, 0, 0.08);
  background: white;
  border-radius: 10px;
}

.text-block__content {
  text-align: center;
}

.text-block .text-block-img {
  height: auto;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 1025px) {
  .text-blocks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 6em;
  }
  .text-block {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: calc(33% - 1em);
    position: relative;
    top: 0;
  }
  .text-block .text-block-img {
    height: 250px;
    width: 250px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .text-block.highlight {
    position: relative;
    top: -1em;
  }
  .text-block.highlight .text-block-img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.intro {
  margin-bottom: 1em;
}

.intro__text {
  text-align: center;
  margin-bottom: 2em;
  font-size: 20px;
  text-shadow: black 2px 2px;
  color: white;
}

.intro__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .intro {
    height: 450px;
  }
  .intro__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .intro__text {
    text-align: left;
    width: 60%;
    font-size: 30px;
  }
  .intro__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .intro__buttons button {
    width: auto;
    margin-bottom: 0;
    margin-right: 1em;
  }
}

.contact-link {
  margin-bottom: 2em;
  margin-top: 4em;
}

@media (min-width: 768px) {
  .contact-link {
    text-align: center;
  }
  .contact-link button {
    width: auto;
  }
}

.case-main-title {
  text-align: center;
  color: white;
  text-shadow: black 2px 2px;
  font-size: 20px;
  margin-bottom: 2em;
  margin-top: 2em;
}

.case {
  padding: 2em;
  margin-bottom: 2em;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background: white;
  -webkit-box-shadow: 10px 9px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 10px 9px 1px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.case__img-img {
  height: auto;
  width: 100%;
  margin-bottom: 1em;
  border-radius: 10px;
}

.case__info-title {
  margin-bottom: 1em;
  font-size: 20px;
}

@media (min-width: 1268px) {
  .case {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .case.right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .case__info {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .case__img {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .case__img.left {
    margin-right: 2em;
  }
  .case__img-img {
    margin-bottom: 0;
    height: 250px;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form button {
  margin-bottom: 0;
}

.contact-form input,
.contact-form textarea {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
}

.contact-form input {
  width: 100%;
}

.contact-form .field span {
  margin-bottom: 1em;
}

.send-message {
  margin-top: 1em;
}

@media (min-width: 768px) {
  .send-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .send-button button {
    width: 200px;
  }
  .contact-form input,
  .contact-form textarea {
    margin-top: 0;
  }
  .contact-form .inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-form .inputs input {
    width: 100%;
  }
  .contact-form .field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc((50% - 0.5em));
  }
  .contact-form .field span {
    margin-bottom: 1em;
  }
}

.popup {
  position: fixed;
  padding: 1em;
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 10px 9px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 10px 9px 1px rgba(0, 0, 0, 0.08);
  width: calc(100% - 2em);
  left: 1em;
  right: 1em;
  border-radius: 10px;
}

.popup__title {
  margin-bottom: 1em;
}

.popup.hide {
  bottom: -425px;
}

.popup.visible {
  bottom: 1em;
}

.popup__form {
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.popup__form.hide {
  max-height: 0;
  overflow: hidden;
}

.popup__form.visible {
  max-height: 200px;
  margin-bottom: 1em;
}

.popup__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__form input {
  padding: 0.5em;
  margin-bottom: 1em;
}

.popup__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .popup {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .popup {
    width: 25%;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 6em;
}

.footer__main, .footer__info {
  margin-bottom: 1em;
}

.footer__main-name {
  font-size: 25px;
}

.footer__main,
.footer__info-links {
  margin-bottom: 2em;
}

.footer__main-name,
.footer__info-news-title,
.footer-link {
  margin-bottom: 0.5em;
}

.footer-link {
  color: black;
}

@media (min-width: 768px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__info-links {
    margin-right: 4em;
  }
}

.navbar-brand {
  font-size: 20px;
  text-shadow: black 2px 2px;
}

.navbar-brand a {
  color: white;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.navbar-toggler {
  border-color: white !important;
  width: auto;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff !important;
}

.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-collapse .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-shadow: black 2px 2px;
}

.navbar-collapse .nav-link a {
  color: white;
}

.header-brand {
  text-align: center;
  font-size: 20px;
  margin-top: 1em;
  margin-bottom: 2em;
  color: white;
  text-shadow: black 2px 2px;
}

.navbar-toggler:focus {
  outline: none;
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 30px;
  }
  .header-brand {
    font-size: 25px;
    margin-bottom: 2em;
  }
  .nav-link {
    font-size: 20px;
  }
}

body {
  margin: 0;
}

a:hover {
  text-decoration: none;
}

* {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */