.loading {
  background: black;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading__title {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

.text-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-block {
  margin-bottom: 3em;
  padding: 2em;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.08);
}

.text-block__content {
  text-align: center;
}

.text-block .text-block-img {
  height: auto;
  width: 100%;
}

@media (min-width: 1025px) {
  .text-blocks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .text-block {
    margin-left: 1em;
    margin-right: 1em;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .text-block .text-block-img {
    height: 250px;
  }
  .text-block.highlight {
    position: relative;
    bottom: 0.5em;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

.intro {
  margin-bottom: 1em;
}

.intro__text {
  text-align: center;
  margin-bottom: 2em;
}

.intro__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro__buttons button {
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .intro__text {
    text-align: left;
  }
  .intro__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .intro__buttons button {
    width: auto;
    margin-bottom: 0;
    margin-right: 1em;
  }
}

.case {
  padding: 2em;
  margin-bottom: 2em;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.case__img-img {
  height: auto;
  width: 100%;
  margin-bottom: 1em;
}

.case__info-title {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .case:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .case:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .case__info {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .case__img {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .case__img-img {
    margin-bottom: 0;
    height: 250px;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
}

.contact-form input {
  width: 100%;
}

.contact-form .field span {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .contact-form input,
  .contact-form textarea {
    margin-top: 0;
  }
  .contact-form .inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-form .inputs input {
    width: 100%;
  }
  .contact-form .field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc((50% - 0.5em));
  }
  .contact-form .field span {
    margin-bottom: 1em;
  }
}

.popup {
  position: fixed;
  padding: 1em;
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.08);
  width: calc(100% - 2em);
  left: 1em;
  right: 1em;
}

.popup__title {
  margin-bottom: 1em;
}

.popup.hide {
  bottom: -210px;
}

.popup.visible {
  bottom: 1em;
}

.popup__form {
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.popup__form.hide {
  max-height: 0;
  overflow: hidden;
}

.popup__form.visible {
  max-height: 200px;
  margin-bottom: 1em;
}

.popup__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__form input {
  padding: 0.5em;
  margin-bottom: 1em;
}

.popup__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .popup {
    width: 33%;
  }
}

@media (min-width: 1024px) {
  .popup {
    width: 25%;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__main, .footer__info {
  margin-bottom: 1em;
}

.footer__main-name,
.footer__info-links,
.footer__info-news-title,
.footer-link {
  margin-bottom: 0.5em;
}

@media (min-width: 768px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__info-links {
    margin-right: 4em;
  }
}

.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-collapse .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-brand {
  text-align: center;
}

.navbar-toggler:focus {
  outline: none;
}

body {
  margin: 0;
}

a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */