.loading {
  background: black;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading__title {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

.text-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-block {
  margin-bottom: 3em;
  padding: 2em;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.08);
}

.text-block__content {
  text-align: center;
}

.text-block .text-block-img {
  height: auto;
  width: 100%;
}

@media (min-width: 1025px) {
  .text-blocks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .text-block {
    margin-left: 1em;
    margin-right: 1em;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .text-block .text-block-img {
    height: 250px;
  }
  .text-block.highlight {
    position: relative;
    bottom: 0.5em;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

.case {
  padding: 2em;
  margin-bottom: 2em;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.case__img-img {
  height: auto;
  width: 100%;
  margin-bottom: 1em;
}

.case__info-title {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .case {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .case__info {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .case__img {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .case__img-img {
    margin-bottom: 0;
    height: 250px;
  }
}

.popup {
  position: fixed;
  padding: 1em;
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px blue solid;
  width: 100%;
  left: 1em;
  right: 1em;
}

.popup.hide {
  bottom: -210px;
}

.popup.visible {
  bottom: 1em;
}

.popup__form {
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.popup__form.hide {
  max-height: 0;
  overflow: hidden;
}

.popup__form.visible {
  max-height: 200px;
  margin-bottom: 1em;
}

.popup__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__form input {
  padding: 0.5em;
  margin-bottom: 1em;
}

.popup__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__main, .footer__info {
  margin-bottom: 1em;
}

.footer__main-name,
.footer__info-links,
.footer__info-news-title,
.footer-link {
  margin-bottom: 0.5em;
}

@media (min-width: 768px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__info-links {
    margin-right: 2em;
  }
}

body {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */