.intro {
    margin-bottom: map-get($spacing-unit, 'small');
    
    &__text {
        text-align: center;
        margin-bottom: map-get($spacing-unit, 'default');
        font-size: map-get($font-sizes, 'default');
        text-shadow: map-get($colors, 'black') 2px 2px;
        color: map-get($colors, 'white');
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        
        button {
            text-align: center;
            width: 100%;
            margin-bottom: map-get($spacing-unit, 'small');
        }
    }
}

@media (min-width: 768px) {

    .intro {
        height: 450px;

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        &__text {
            text-align: left;
            width: 60%;
            font-size: map-get($font-sizes, 'big');
        }

        &__buttons {
            flex-direction: row;

            button {
                width: auto;
                margin-bottom: 0;
                margin-right: map-get($spacing-unit, 'small');
            }
        }
    }
}