.intro {
    margin-bottom: map-get($spacing-unit, 'small');
    
    &__text {
        text-align: center;
        margin-bottom: map-get($spacing-unit, 'default');
        font-size: map-get($font-sizes, 'default');
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        
        button {
            text-align: center;
            width: 100%;
            margin-bottom: map-get($spacing-unit, 'small');
        }
    }
}

@media (min-width: 768px) {

    .intro {
        &__text {
            text-align: left;
            width: 60%;
        }

        &__buttons {
            flex-direction: row;

            button {
                width: auto;
                margin-bottom: 0;
                margin-right: map-get($spacing-unit, 'small');
            }
        }
    }
}