.text-blocks {
  display: flex;
  flex-direction: column;
  margin-bottom: map-get($spacing-unit, 'medium');
}

.text-block {
  margin-bottom: map-get($spacing-unit, 'medium');
  padding: map-get($spacing-unit, 'default');
  box-shadow: 10px 9px 1px map-get($colors, 'box-shadow');
  background: map-get($colors, 'white');
  border-radius: 10px;

  &__content {
    text-align: center;
  }

  .text-block-img {
    height: auto;
    width: 100%;
    object-fit: contain;
  }
}

@media (min-width: 1025px) {
  .text-blocks {
    flex-direction: row;
    width: calc(100% - 2em);
  }

  .text-block {
    transition: 1s;

    .text-block-img {
      height: 250px;
    }

    &.highlight {
      position: relative;
      bottom: map-get($spacing-unit, 'tiny');
      transition: 1s;
    }
  }
}
