.case {
  padding: map-get($spacing-unit, 'default');
  margin-bottom: map-get($spacing-unit, 'default');
  box-shadow: 0px 6px 10px map-get($colors, 'box-shadow');
  display: flex;
  flex-direction: column-reverse;

  &__img-img {
    height: auto;
    width: 100%;
    margin-bottom: map-get($spacing-unit, 'small');
  }

  &__info-title {
    margin-bottom: map-get($spacing-unit, 'small');
  }
}

@media (min-width: 768px) {
  .case {

    &:nth-child(even) {
      flex-direction: row;
    }

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }

    &__info {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__img {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-img {
        margin-bottom: 0;
        height: 250px;
      }
    }
  }
}
